#box {
    width:75px;
    height:75px;
    background-color:red;
    display:none;
    position:relative;
}

.bold {
    padding-top: 1rem;
    font-weight:bold;
}

*{
    padding: 0;
    margin: 0;
}